body {
    background-color: hsl(0, 0%, 8%);
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

main {
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 10px;
}

img {
    width: 120px;
    border-radius: 100%;
}

h1 {
    margin-bottom: 7px;
    font-weight: 600;
}

p.location {
    color: hsl(75, 94%, 57%);
    margin: 0;
    font-weight: 600;
}

p.description {
    margin: 25px auto;
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    font-weight: 700;
}

li:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;  
}

footer.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
}

footer.attribution a {
    color: hsl(75, 94%, 57%);
}